# All
*

# Except
# Gateway
!.docker/gateway

!services/gateway/app
!services/gateway/bin
!services/gateway/config
!services/gateway/test
!services/gateway/composer.json
!services/gateway/composer.lock
!services/gateway/phpstan.neon.dist
!services/gateway/phpunit.xml.dist

# User
!.docker/user

!services/user/bin
!services/user/config
!services/user/src
!services/user/.rr.dev.yaml
!services/user/.rr.yaml
!services/user/.rr-grpc.yaml
!services/user/composer.json
!services/user/composer.lock
!services/user/symfony.lock

# Authn
!.docker/authn

# Chat
!.docker/chat

!services/chat/app
!services/chat/tests
!services/chat/.rr.yaml
!services/chat/app.php
!services/chat/composer.json
!services/chat/composer.lock
!services/chat/phpunit.xml
!services/chat/psalm.xml
!services/chat/psalm-baseline.xml

# Playlist
!.docker/playlist

!services/playlist/app
!services/playlist/tests
!services/playlist/.rr.yaml
!services/playlist/app.php
!services/playlist/composer.json
!services/playlist/composer.lock
!services/playlist/phpunit.xml
!services/playlist/psalm.xml
!services/playlist/psalm-baseline.xml

# Chat-authz
!.docker/chat-authz

!services/chat-authz/app
!services/chat-authz/tests
!services/chat-authz/.rr.yaml
!services/chat-authz/app.php
!services/chat-authz/composer.json
!services/chat-authz/composer.lock
!services/chat-authz/phpunit.xml
!services/chat-authz/psalm.xml
!services/chat-authz/psalm-baseline.xml

# But
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db