# Аргументы сборки Dockerfile
USER_NAME=app-user
GROUP_NAME=app-user
UID=1000
GID=1000

# Аргументы docker compose

# Порядок применения compose-файлов
#COMPOSE_FILE=compose.yml
#COMPOSE_FILE=compose.yml:compose.local.yml
COMPOSE_FILE=compose.test.yml

# 127.0.0.1, 0.0.0.0, etc
NETWORK_INTERFACE=127.0.0.1

ROAD_RUNNER_HTTP_PORT=8080
ROAD_RUNNER_RPC_PORT=6001

# Настройки базы данных
POSTGRES_PORT=5432
DB_DATABASE=cinemaroom
DB_USER=cinemaroom
DB_PASSWORD=cinemaroom

# Настройки redis
REDIS_PORT=6379

# Настрокий minio (локально)
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniominio

# Настройки buggregator (локально)
BR_HTTP_DUMPS_PORT=8000
BR_SMTP_PORT=1025
BR_VAR_DUMPER_PORT=9912
BR_MONOLOG_PORT=9913
