# Запретить все
../.env

# Кроме
# Docker
!gateway/.docker/php/config/*
!gateway/.docker/php/entrypoint.sh
!gateway/.docker/supercronic/*

## Директории проекта
!app
!public
!tests

## Файлы проекта
!.rr.yaml
!.styleci.yml
!app.php
!composer.json
!composer.lock
!functions.php
!phpunit.xml
!psalm.xml

# В разрешенных директориях запретить
**/*~
**/*.log
**/DS_Store
**/Thumbs.db
