GRPC_PORT=8080

POSTGRES_URL=postgres://authn_db:authn_db@postgres:5432/authn_db

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=$POSTGRES_URL
GOOSE_MIGRATION_DIR=/app/migrations

USER_SERVICE_URL=user:9001

ACCESS_TOKEN_SECRET=testtesttesttesttest
ACCESS_TOKEN_TTL_IN_MINUTES=10
REFRESH_TOKEN_TTL_IN_DAYS=15

REDIS_ADDR=redis:6379
REDIS_PASSWORD=cinemaroom
REDIS_DB=0
